body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  width: 600px;
  height: 500px;
  background-color: #6bbcbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.circle_box {
  
  display: flex;
  justify-content: center;
  gap: 10px;
}


.moving_circle_1 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.stick_box {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.stick__1 {
  width: 10px;
  height: 35px;
  background-color: #fff;
}


@keyframes moving_circle_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg) translateX(-60px);
  }
}

@keyframes moving_circle_2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg) translateX(60px);
  }
}

.moving_circle_1 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation:moving_circle_1 0.9s ease infinite ;
}

.moving-circle_2 { width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: moving_circle_2 0.9s ease infinite;
}



@keyframes stickStretch {
  0% {
    transform: scaleY(100%);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(100%);
  }
}

.stick {
  animation: stickStretch 0.9s ease infinite;
}

.stick__1 {
  animation-delay: 0s
}

.stick__2 {
  animation-delay: 0.1s
}

.stick__3 {
  animation-delay: 0.2s
}

.stick__4 {
  animation-delay: 0.3s
}

.stick__5 {
  animation-delay: 0.4s
}