@import "reset.css";
@import "status-bar.css";
body{
    margin-left: 15px;
    width: 670px;
    height:600px;
}
.startus-bar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.startus-bar_column:nth-child(2){
    display: flex;
    justify-content: center;
}
.startus-bar_column{
    width: 33%;
}
.startus-bar_column:last-child{
display: flex;
justify-content: flex-end;
}

.main{height: 200px;
    display: flex;
    justify-content:center;
    margin-top:70px;
    
}
.main_box{
    display: flex;
}
.main__playlist__picture{
    margin-right: 30px;
    }
    .main__playlist__name{
    margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    

 .main__playlist__name_1{
    font-weight: 700;
    font-size: 20px; }
 
      
.main__playlist__name_2{ font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
.main__playlist__name_3{
    font-weight: 100;
    font-size: 10px;
    margin-top: 5px;
}

.btn-center{
    display: flex;
    justify-content: center;
}
